<div style="text-align: center; margin: 25px;">
    <a href="/{{book._id}}/edit"><button class="btn">Edit</button></a>
    <a href="/{{book._id}}/comments"><button class="btn">View Pages</button></a>
    <a href="/"><button class="btn">Share The Saga</button></a>
    <h1>{{book.title}}</h1>
    <p>{{book.description}}</p>
    <form action="/{{book._id}}?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete</button>
    </form>
</div>