<h2>Books Show</h2>
<h6>{{books.title}}</h6>
<h6>{{books.date}}</h6>
<h6>{{books.setting}}</h6>
<h6>{{books.description}}</h6>
<h6>{{books.genre}}</h6>

<a href="/edit/books/{{books._id}}"><button>Edit</button></a>
<a href="/books/delete/{{books._id}}"><button>Delete</button></a>