<h2>Author Show</h2>
<h6>{{author.userName}}</h6>
<h6>{{author.firstName}}</h6>
<h6>{{author.lastName}}</h6>
<h6>{{author.email}}</h6>
<h6>{{author.phoneNumber}}</h6>
<h6>{{author.location}}</h6>

<a href="/edit/{{author._id}}"><button>Edit</button></a>