<h2>Pages Show</h2>
<h6>{{pages.name}}</h6>
<h6>{{pages.source}}</h6>
<h6>{{pages.date}}</h6>
<h6>{{pages.description}}</h6>
<h6>{{pages.subGenre}}</h6>

<a href="/edit/{{pages._id}}"><button>Edit</button></a>