<h2>{{page.name}}</h2>
<p>{{page.source}}</p>
<p>{{page.date}}</p>
<p>{{page.description}}</p>
<p>{{page.genre}}</p>

<a href="/{{booksId}}/pages/{{page._id}}/edit"><button class="btn">Edit Page</button></a>

<form action="/{{booksId}}/pages/{{page._id}}?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete</button>
</form>